
.flex {
display: flex;
}
    
#titulo {
margin-left: 20px;
}

#iconolateral {
display: flex;
height: 30px;
margin-top: 1%;
}

#lateral {
display: flex;
justify-content: center;
}
    
.boton:link, .bottom:visited {
background-color: black;
color: white;
padding: 15px 14%;
text-align: center;
display: inline-block;
}
    
.boton:hover, .boton:active {
background-color: grey;
}
    
.cosimg {
display: flex;
height: 150px;
margin-left: 5%;
}
    
#text1cos {
display: flex;
width: 70%;
}
    
a {
text-decoration: none;
color: white;
}

footer {
background-color: lightgrey;
}